.tabs > ul {
	margin: 0;
	padding: 0;
}
.tabs > ul > li {
	list-style: none;
}
.tabs > ul:first-child {
	border-bottom: 1px solid #6c7980;
	font-size: 0;
	margin-top: 10px;
}
.tabs > ul:first-child > li {
	font-size: 15px;
	display: inline-block;
	border: 1px solid #6c7980;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 3px;
	position: relative;
	top: 1px;
}
.tabs > ul:first-child > li.active {
	background: #6c7980;
}
.tabs > ul:first-child > li > a {
	padding: 5px 7px;
	display: block;
	text-decoration: none;
	color: #6c7980;
}
.tabs > ul:first-child > li.active > a {
	color: #fff;
}
.tabs > ul:last-child {
	margin-top: 10px;
}
.tabs > ul:last-child > li:not(.active) {
	display: none;
}